/contactless-tls/nbproject/private/
/nbproject/private/
nbproject/private/private.properties
lib-cltls/nbproject/private/private.properties
lib-cltls/nbproject/private/private.xml
/card-drivers/demo-card/nbproject/private/
/lib-cltls/nbproject/private/
/lib-cltls/build/
/lib-cltls/dist/
/card-drivers/smartcardio-sample/nbproject/private/
/usage-samples/smartcardio-sample/nbproject/private/
usage-samples/smartcardio-sample/nbproject/private/private.properties
docs/~$Diag2.docx