/contactless-tls/nbproject/private/
/nbproject/private/
nbproject/private/private.properties
lib-cltls/nbproject/private/private.properties
lib-cltls/nbproject/private/private.xml
/card-drivers/demo-card/nbproject/private/
/lib-cltls/nbproject/private/
/lib-cltls/build/
/lib-cltls/dist/
/card-drivers/smartcardio-sample/nbproject/private/
/usage-samples/smartcardio-sample/nbproject/private/
usage-samples/smartcardio-sample/nbproject/private/private.properties
docs/~$Diag2.docx
/card-drivers/demo-card/build/
/card-drivers/demo-card/dist/
/card-drivers/anycardscio/nbproject/private/
/card-drivers/anycardscio/dist/
/card-drivers/anycardscio/build/
/usage-samples/smartcardio-sample/build/
/card-drivers/softcard/nbproject/private/
/card-drivers/softcard/dist/
/card-drivers/softcard/build/